<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>McDonalds Activity Reporting System</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>

<body>
    <h2 class="mcdHeader">McDonalds Activity Reporting System</h2>
    
    <form method="POST" th:action="@{/mars/create}" th:object="${promotionForm}" >
    	<fieldset>
    		<legend>Create a new promotion</legend>
    		<div class="errorblock" th:if="${#fields.hasErrors('*')}">
    			<p th:each="err : ${#fields.errors('*')}" th:text="${err}" />
    		</div>

        <table>
        	<tr><td style="width:30%"/><td style="width:70%"/></tr>
        	<tr>
        		<td><label for="create_name">Promotion Name:</label></td>
        		<td><input size="25" maxlength="50" type="text" th:field="*{name}" /></td>
        	</tr>
        	<tr>
        		<td><label for="create_description">Description:</label></td>
        		<td><input size="50" maxlength="100" type="text" th:field="*{description}" /></td>
        	</tr>
        	<tr>
        		<td><label for="create_startDate">Start Date:</label></td>
        		<td><input maxlength="10" type="text" th:field="*{startDate}" placeholder="MM-dd-YYYY"/></td>
        	</tr>
        	<tr>
        		<td><label for="create_endDate">End Date:</label></td>
        		<td><input maxlength="10" type="text" th:field="*{endDate}" placeholder="MM-dd-YYYY"/></td>
        	</tr>
        	<tr>
        		<td><label for="create_area">Area:</label></td>
        		<td><select th:field="*{area}" >
        			<option th:value="-1" >-- Area to be selected --</option>
        			<option th:each="loc : ${locations}" th:value="${loc.id}"
        				th:text="((${loc.level} == 4) ? '&nbsp;&nbsp;&nbsp;&nbsp;' + ${loc.name} : ${loc.name})" >
        			</option>
        		</select></td>
        	</tr>
        	<tr>
        		<td><label for="create_product">Product:</label></td>
        		<td><select th:field="*{product}">
        		<option th:each="prdct : ${products}" th:value="${prdct.id}" th:text="${prdct.name}" ></option>
        		</select></td>
        	</tr>
        	<tr>
        		<td>&nbsp;</td>
        		<td><input class="submitButton" type="submit" value="Save Promotion" /></td>
        	</tr>
        </table>
	    </fieldset>
    </form>
    
    <div class="mediumgap">
	    <form method="POST" th:action="@{/mars/filter}" th:object="${filterForm}" >
    		<div class="errorblock" th:if="${#fields.hasErrors('*')}">
    			<p th:each="err : ${#fields.errors('*')}" th:text="${err}" />
    		</div>
    		
	        <label for="filter_startDate">Start Date: </label><input maxlength="10" type="text" th:field="*{startDate}" placeholder="MM-dd-YYYY"/>&nbsp;
	        <label for="filter_endDate">End Date: </label><input maxlength="10" type="text" th:field="*{endDate}" placeholder="MM-dd-YYYY"/>&nbsp;
	        <label for="filter_area">Area: </label>&nbsp;
	        <select th:field="*{area}">
	            <option th:value="-1" >-- Area to be selected --</option>
	            <option th:each="loc : ${locations}" th:value="${loc.id}"
        			th:text="((${loc.level} == 4) ? '&nbsp;&nbsp;&nbsp;&nbsp;' + ${loc.name} : ${loc.name})" >
        		</option>
	        </select>
	        <input class="submitButton" type="submit" value="Apply Filter" />
	    </form>

	    <table id="PromoTable" style="width:100%">
	      <thead>
	        <tr>
	          <th style="width:45%">Promotion</th>
	          <th style="width:10%">Start Date</th>
	          <th style="width:10%">End Date</th>
	          <th style="width:25%">Area</th>
	        </tr>
	      </thead>
	      <tbody th:unless="${#lists.isEmpty(restaurantPromotionList)}">
	        <tr th:each="restPromo : ${restaurantPromotionList}">
	          <td th:text="${restPromo.promotion.name}" />
	          <td th:text="${#dates.format(restPromo.promotion.startDate, 'MM-dd-yyyy')}" />
	          <td th:text="${#dates.format(restPromo.promotion.endDate, 'MM-dd-yyyy')}" />
	          <td th:text="${restPromo.area.name}" />
	        </tr>
	      </tbody>
	    </table>
    </div>

</body>
</html>
